# Node modules
node_modules/

# Archivos de entorno
.env

# Archivos de logs
*.log

# Archivos de dependencias de instalación global
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de OS específicos
.DS_Store
Thumbs.db

# Directorios de caché de algunos editores
.vscode/
.idea/

# Archivos de test temporal
coverage/
